<h1>ng-conf 2018 calendar</h1>

<button class="btn btn-primary"
        (click)="setViewDay(18)"
        [class.active]="view === 'month'">
  Wed
</button>
<button class="btn btn-primary"
        (click)="setViewDay(19)"
        [class.active]="view === 'week'">
  Thurs
</button>
<button class="btn btn-primary"
        (click)="setViewDay(20)"
        [class.active]="view === 'day'">
  Fri
</button>

<div class="row">
  <div class="col-md-4">
    <h3>Calendar for <a target="_blank" href="https://www.ng-conf.org/">ng-conf 2018</a></h3>
  </div>
  <div class="col-md-4">
    {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <button class="btn btn-primary"
              (click)="view = 'month'"
              [class.active]="view === 'month'">
        Month
      </button>
      <button class="btn btn-primary"
              (click)="view = 'week'"
              [class.active]="view === 'week'">
        Week
      </button>
      <button class="btn btn-primary"
              (click)="view = 'day'"
              [class.active]="view === 'day'">
        Day
      </button>
    </div>
  </div>
</div>
<app-schedule [view]="view" [viewDate]="viewDate"></app-schedule>
